{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>



<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>My Favourites</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for favourite in favourites %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card my-2">
                    <a href="{% url 'selected_product' favourite.product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="product image">
                    </a>
                    <div class="card-body">
                        <p class="text-capitalize">{{ favourite.product.name }}</p>
                    </div>
                    <div class="card-footer text-left">
                        <div class="row">
                            <div class="col">
                                <p>{{ favourite.product.price }}</p>
                            </div>
                            <form class="form" action="{% url 'remove_favourite' favourite.product_id %}" method="POST">
                                <a class="remove-product text-danger"
                                    id="remove_{{ favourite.product_id }}"><small>Remove</small></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>You don't have any favourites!</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Remove products from bag 
        $('.remove-product').click(function (e) {
            let csrfToken = "{{ csrf_token }}";
            let productId = $(this).attr('id').split('remove_')[1];
            let url = `/favourites/remove/${productId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })
    </script>
    {% endblock %}