{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>

<div class="container">
    <div class="row hero-container d-flex">
        <img src="{{ MEDIA_URL }}hero_image.jpg" alt="woman walking holding a take-away coffee"
            class="hero-image mx-auto">
        <h2 class="home-text-small-screens text-center d-sm-block d-md-none">pre-owned</h2>
        <p class=" fs-3 hero-text text-uppercase">Get ready for fall <br>in a sustainable way</p>
        <a href="{% url 'products' %}" class="btn btn-dark shop-now">
            <span>Shop Now</span>
        </a>
    </div>
</div>
{% endblock %}