{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col padding-top"></div>
    </div>

    <div class="container mb-5">
        <div class="row hero-container d-flex justify-content-center">
            <img src="{{ MEDIA_URL }}hero_image.jpg" alt="image of women in suits" class="hero-image mx-auto">
            <p class="text-center fs-3 hero-text">Get ready for fall in a sustainable way!</p>
            <a href="{% url 'products' %}" class="btn btn-dark shop-now mx-auto">
                <span>Shop Now</span>
            </a>
        </div>
    </div>
{% endblock %}