{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>

<div class="container">
    <h1 class="home-logo text-center">Pre-Owned</h1>
    <p class="home-text text-center">The ulimate store for everyone who loves to express themselves through cloths in a
        sustainable and affordable way.</p>
    <a class="text-decoration-none link-text" href="{% url 'products' %}">
        <p class="text-center text-uppercase">What are you wiating for? Start shopping <strong class="now">now!</strong>
        </p>
    </a>
</div>
{% endblock %}