{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>

<h1>Profile page</h1>
<div class="row">
    <div class="col-12 col-lg-6">
        <p>Default delivery information</p>
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button>Update Information</button>
        </form>
    </div>
    <div class="col-12 col-lg-6">
        <p>Order History</p>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Order Name</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul>
                                {% for item in order.lineitems.all %}
                                <li>
                                    Size {{ item.product.size }} 
                                    {{ item.product.name }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}