* {
    padding: 0;
    margin: 0; 
}

.padding-top {
    height: 125px;
}

/* Allath forms */ 

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* Toasts */
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 999999;
}

/* Checkout */

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 1px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.checkout-form {
  color: #000;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.order-summary {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* checkout success */
.info-box {
  max-width: 600px;
}

/* Contact */
.contact-form {
  color: #000;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Selected product */

.selcted-card {
  max-width: 400px;
  height: auto;
}

/* Shopping Bag */

.bag-img {
  max-width: 200px;
  height: auto;
}