{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>My Shopping Bag</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col">
            {%if shopping_bag_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col mt-2">
                        <h6>Delivery: FREE</h6>
                        <h4><strong>Total: {{ total|floatformat:2 }} <small>SEK</small></strong></h4>
                        <a href="{% url 'checkout' %}" class="btn btn-outline-dark my-4">
                            <span>Secure Checkout</span>
                        </a>
                    </div>
                </div>
                {% for item in shopping_bag_items %}
                <div class="row">
                    <div class="col mb-2">
                        <img class="card-img-top bag-img" src="{{ item.product.image.url }}" alt="product image">
                    </div>
                    <div class="col-12 mb-2">
                        <p class="my-0 text-capitalize"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0"><strong>Size: </strong>{{ item.product.size }}</p>
                    </div>
                    <div class="col mb-2">
                        <p class="my-0">{{ item.product.price }} <small>SEK</small></p>
                        <a class="text-danger" data-bs-toggle="modal"
                            data-bs-target="#myModal{{ item.item_id }}"><small>Remove</small></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product Info</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    {% for item in shopping_bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="card-img-top bag-img" src="{{ item.product.image.url }}" alt="product image">
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-capitalize"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size: </strong>{{ item.product.size }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.price }} <small>SEK</small></p>
                            <a class="text-danger" data-bs-toggle="modal"
                                data-bs-target="#myModal{{ item.item_id }}"><small>Remove</small></a>
                        </td>
                        {% endfor %}
                    </tr>
                    <td colspan="5" class="pt-5 text-end">
                        <hr>
                        <h6>Delivery: FREE</h6>
                        <h4 class="mt-4"><strong>Total: {{ total|floatformat:2 }} <small>SEK</small></strong></h4>
                        <a href="{% url 'checkout' %}" class="btn btn-outline-dark my-2">
                            <span>Secure Checkout</span>
                        </a>
                    </td>
                </table>
            </div>
            {% else %}
            <p>You don't have any items in your bag yet.</p>
            {% endif %}
        </div>
    </div>
</div>

  <!-- Modal -->
  {% for item in shopping_bag_items %}
  <div class="modal fade" id="myModal{{ item.item_id }}" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Are you sure you want to remove {{ item.product.name }} from your shopping
                  bag?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                      data-bs-dismiss="modal">Close</button>
                  <a action="{% url 'remove_from_shopping_bag' item.item_id %}" method="POST"
                      class="remove-item btn btn-danger"
                      id="remove_{{ item.item_id }}">Remove</a>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    // Remove items from bag 
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/shopping_bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })
</script>
{% endblock %}