{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>

    <div class="row">
        <div class="col">
            <h1>Shopping Bag</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {%if shopping_bag_items %}
                <div class="table-responsive">
                    {{ shopping_bag_items }}
                </div>
            {% else %}
            <p>You don't have any items in your bag yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}