<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#home">
        <h1>Pre-Owned</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto d-flex justify-content-end">
        <li class="nav-item">
          <a class="nav-link nav-item" href="#home">New In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item" href="#about">Tops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item" href="#ice-cream">Pants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item" href="#locations">Dresses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item" href="#contact">Skirts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>