{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>

<h1>Products Page</h1>
<div class="container mt-10">
    <div class="row">
        <div class="col">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <a href="{% url 'selected_product' product.id %}">
                        <img class="card-img-top" src="{{ product.image }}" alt="product image">
                    </a>
                    <div class="card-body">
                        <p class="text-capitalize">{{ product.name }}</p>
                    </div>
                    <div class="card-footer text-left">
                        <div class="row">
                            <div class="col">
                                <p>{{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}