{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col padding-top"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Products</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card my-2">
                <a href="{% url 'selected_product' product.id %}">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="product image">
                </a>
                <div class="card-body">
                </div>
                <div class="card-footer text-left">
                    <div class="row">
                        <div class="col">
                            <p class="text-capitalize">{{ product.name }}</p>
                            <p><small>Size:{{ product.size }}</small></p>
                            <p><small>{{ product.price }}:-</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}